#sweet4u {
    font-family: Playfair;
    font-size: 30px;
    font-weight: bold;
    padding: 0%;
    padding-left: 20px;
    color: white;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Open Sans';
}

nav {
    float: right;
    display: inline;
}

body {
    background-color: #1F3850;
    margin: 0; /* Remove default margin */
    overflow-y: auto;
}

header {
    height: 200px;
    position: fixed; /* Fix header position */
    width: 100%;
    z-index: 1; /* Ensure header stays on top of other elements */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://enjouchocolat.com/cdn/shop/collections/Website_Header_Rotation_2.jpg?v=1687286647');
    background-position: bottom;
    background-size: cover;
    opacity: 50%;
    z-index: -1;
}

.page {
    width: 100%;
    height: 100%;
    top: 30%;
    right: 0%;
    position: fixed;
    background-color: #1F3850;
    padding: 20px; /* Add padding to the page */
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    height: 100vh; /* Set height to viewport height */
}



.box {
    border: 5px;
    border-style: solid;
    border-color: white;
    text-align: center;
    color: white;
    width: 40%;
    height: 40%;
    margin: auto;
}


.page h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color:aliceblue;
    text-align: center;
}

.page h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color:aliceblue;
    text-align: center;
}

.page p {
    font-size: 20px;
    margin-bottom: 20px;
    color:aliceblue;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to new line */
    justify-content: space-between;
    align-items: flex-start; /* Align items to flex-start */
}

.image-container {
    flex: 1;
    padding: 80px;
    text-align: center;
}

.image-container img {
    max-width: 75%;
    height: auto;
}

.divider {
    border-right: 2px solid #ccc;
    height: 100%;
    margin: 0 20px; /* Adjust margin */
}
