#sweet4u {
    font-family: Playfair;
    font-size: 3vw;
    font-weight: bold;
    padding: 0%;
    padding-left: 20px;
    margin: 0%;
    color: white;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Open Sans';
    font-size: 1.3vw;
}

a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

nav{
    float: right;
    display: inline;
    padding-top: 0.5%;
    padding-right: 3%;
}

#top{
    position: fixed;
    width: 100%;
    padding: 1%;
    transition: background-color 0.2s ease;
}

#top.dark{
    background-color: black;
    z-index:1000;
}

body{
    background-color: #1F3850;
    background-image: linear-gradient(#1F3850, #081522);

    margin:0 ;
}

img {
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #fceded;
}
