#sweet4u {
    font-family: Playfair;
    font-size: 30px;
    font-weight: bold;
    padding: 0%;
    padding-left: 20px;
    color: white;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Open Sans';
}

nav{
    float: right;
    padding-top: 10px;
    display: inline;
}

body{
    background-color: #1F3850;
}